@model List<Ejercicio1.Models.Entities.Departamento>

<div class="text-center">
    <h1 class="display-4">Ejercicio4</h1>
    <h2>Lista de Departamentos</h2>

    <table border="1" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var departamento in Model)
            {
                <tr>
                    <td>@departamento.id</td>
                    <td>@departamento.nombre</td>
                </tr>
            }
        </tbody>
    </table>

    <br>

    


    @Html.ActionLink("Link Index", "Index", "Home")
</div>
